<article class="container">
<h1 class="prompt">Sign In</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id="email"><%= f.label :email, :class => 'label' %><br />
  <%= f.email_field :email %></div>

  <div id="password"><%= f.label :password, :class => 'label' %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div id="remember"><%= f.check_box :remember_me %> Remember Me</div>
  <% end -%>

  <div id="row">
  <div id="signin"><%= f.submit "Sign in" %></div>
<% end %>

	<div id="links">
<%= render "devise/shared/links" %>
</div>
</div>
</article>