<div class="container">


<article>
<% @posts.each do |post| %>
<% @count= post.likes.count %>

<div class="one-third column">
	<div class="story <%= bucket((post.neighborhood)).downcase.dasherize %>">
  		<div class="top">
     		<p class="content"><%= post.content %></p>
        <% if post.attribution!= nil %>
     		<p class="author">-<%= post.attribution %></p>
        <% end %>
   		</div><!--end top -->
		<div class="clearfix">
		<ul class="bottom">
   	<li class="neighborhood"><%= post.neighborhood %></li>
    <li class="count"><span class="num"><%= post.likes.count %></span> <%= link_to '&#x2764;'.html_safe, likes_path(:post_id=> post.id), :method=> :post %></li>
		</ul>
		</div>
   <!--
	Here's the time stamp in a format that should work for you

   <%=time_ago_in_words(post.created_at) %> ago

	Here's the neighborhood variable that you were looking for
   <%= bucket((post.neighborhood)) %>-->
</div> <!-- end story -->
</div>
<% end %>

</article>

</div> <!-- end container -->



