<div class="container">


<article>
<% @posts.each do |post| %>

<div class="one-third column">
	<div class="story <%= bucket((post.neighborhood)).downcase.dasherize %>">
  		<div class="top">
     		<p class="content"><%= post.content %></p>
     		<p class="author">-<%= post.attribution %></p>
   		</div><!--end top -->
   	<p class="neighborhood"><%= post.neighborhood %></p>
   <!--
	Here's the time stamp in a format that should work for you

   <%=time_ago_in_words(post.created_at) %> ago

	Here's the neighborhood variable that you were looking for
   <%= bucket((post.neighborhood)) %>-->
</div> <!-- end story -->
</div>


<% end %>
</article>

</div> <!-- end container -->




