<div class="container">
	
<header class="clearfix">
<ul>
<li class="logo"><h1><a href="index.html">I <span class="heart">&#x2764;</span> SF</a></h1>
<h2>We found love in a hopeless place.</h2>
</li>
<nav>
<li class="new"><h3><%= link_to 'New Post', new_post_path %></h3></li>
<li class="about"><h3><%= link_to 'About', page_path('about') %></h3></li>
</nav>
</ul>
</header>


<article>
<% @posts.each do |post| %>

<div id="story" class="one-third column">
  <div id="top">
     <p class="content"><%= post.content %></td></p>
     <p class="author">-<%= post.attribution %></p>
   </div><!--end top -->
   <p class="neighborhood"><%= post.neighborhood %></p>
   <!--
	Here's the time stamp in a format that should work for you

   <%=time_ago_in_words(post.created_at) %> ago

	Here's the neighborhood variable that you were looking for
   <%= bucket((post.neighborhood)) %>-->
</div> <!-- end story -->


<% end %>
</article>

</div> <!-- end container -->

<footer class="container">
<p>Smashed + Banged by <a href="http://twitter.com/sabrina">@sabrina</a> and <a href="http://twitter.com/amrithap">@amrithap</a></p>
</footer>


