<h1>I <3 SF</h1>
<h3>... Because we found love in a hopeless place</h3>


<br />
<br />

<ul id="post-list">
<% @posts.each do |post| %>

<li><%= post.content %></li>
<li><%= post.attribution %> in <%= post.neighborhood %> 
<span class="post-date"><%=time_ago_in_words(post.created_at) %> ago</span></li>
<li> <%= bucket((post.neighborhood)) %> </li> 

<% end %>
</ul>


<br />



