<h1>I <3 SF</h1>
<h3>... Because we found love in a hopeless place</h3>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>

<br />
<br />

<ul id="post-list">
<% @posts.each do |post| %>

<li><%= post.content %></li>
<li><%= post.attribution %> in <%= post.neighborhood %> on
<span class="post-date"><%= l post.created_at %></span></li> 

<% end %>
</ul>


<br />



