<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//use.typekit.net/his8qus.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <title>Projectmadrone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <header class="clearfix">
<div class="container">
  
<header class="clearfix">
<ul>
<li class="logo"><h1><a href="<%= root_path %>">I <span class="heart">&#x2764;</span> SF</a></h1>
<h2>We found love in a hopeless place.</h2>
</li>
<nav>
<li class="new"><h3><%= link_to 'New Post', new_post_path %></h3></li>
<li class="about"><h3><%= link_to 'About', page_path('about') %></h3></li>
</nav>
</ul>
</header>
</div>
</head>
<body>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div class="user-auth-nav" style="float:right">
        

    
   <% if user_signed_in? %>
 
  <!-- Don't want this edit registration crap or to show logout
  <%= link_to('Edit registration', edit_user_registration_path) %> -->
  <%= link_to('Logout', destroy_user_session_path) %>
  <% else %> 
  
  <!--<%= link_to('Login', new_user_session_path)  %>  
  <!-- Let's keep the header free of clutter please 
  <%= link_to('Register', new_user_registration_path)  %> -->
  <% end %>
</div>


<%= yield %>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5044e74a340738c5"></script>
<!-- AddThis Button END -->
<script type="text/javascript">
  $(document).ready(function() {
    $("select").selectBox();
  });
</script>
</body>
<footer class="container">
<p>Smashed + Banged by <a href="http://twitter.com/sabrina">@sabrina</a> and <a href="http://twitter.com/amrithap">@amrithap</a></p>
</footer>
</html>

