<!DOCTYPE html>
<html>
<head>
  <title>Projectmadrone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div class="user-auth-nav" style="float:right">
  <% if user_signed_in? %>
  <!--
  Don't want this edit registration crap
  <%= link_to('Edit registration', edit_user_registration_path) %> -->
  <%= link_to('Logout', destroy_user_session_path) %> 
  <% else %>
  <%= link_to('Login', new_user_session_path)  %> | 
  <%= link_to('Register', new_user_registration_path)  %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
